<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(marketOne);
        google.charts.setOnLoadCallback(marketTwo);
        google.charts.setOnLoadCallback(marketThree);

    function marketOne() {
      var data = google.visualization.arrayToDataTable([
        ['Mon', 20, 28, 38, 45],
        ['Tue', 31, 38, 55, 66],
        ['Wed', 50, 55, 77, 80],
        ['Thu', 77, 77, 66, 50],
        ['Fri', 68, 66, 22, 15]
        // Treat first row as data as well.
      ], true);

      var options = {
        legend:'none'
      };

      var chart = new google.visualization.CandlestickChart(document.getElementById('marketOne_chart_div'));

      chart.draw(data, options);
    }
    function marketTwo() {
      var data = google.visualization.arrayToDataTable([
        ['Mon', 20, 28, 38, 45],
        ['Tue', 31, 38, 55, 66],
        ['Wed', 50, 55, 77, 80],
        ['Thu', 77, 77, 66, 50],
        ['Fri', 68, 66, 22, 15]
        // Treat first row as data as well.
      ], true);

      var options = {
        legend:'none'
      };

      var chart = new google.visualization.CandlestickChart(document.getElementById('marketTwo_chart_div'));

      chart.draw(data, options);
    }
    function marketThree() {
      var data = google.visualization.arrayToDataTable([
        ['Mon', 20, 28, 38, 45],
        ['Tue', 31, 38, 55, 66],
        ['Wed', 50, 55, 77, 80],
        ['Thu', 77, 77, 66, 50],
        ['Fri', 68, 66, 22, 15]
        // Treat first row as data as well.
      ], true);

      var options = {
        legend:'none'
      };

      var chart = new google.visualization.CandlestickChart(document.getElementById('marketThree_chart_div'));

      chart.draw(data, options);
    }
      </script>
    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <a class="navbar-brand" href="bootstrapProject.html">Welcome</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                <a class="nav-link" href="bootstrapLogin.html">Sign In <span class="sr-only">(current)</span></a>
              </li>
            </ul>


        </div>
      </nav>
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Forex Markets</h1>
          <p class="lead">Welcome to the world of exchange rates</p>
          <hr class="my-4">

          <div class="market1">
            <p>EURO/USD</p>
              <div id="marketOne_chart_div" style="width: 900px; height: 500px;"></div>
              <br>
              <div class="container" style="text-align: center;">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
          </div>

          <div class="market2">
            <p>GBP/USD</p>
              <div id="marketTwo_chart_div" style="width: 900px; height: 500px;"></div>
              <br>
              <div class="container" style="text-align: center;">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
          </div>

          <div class="market3">
            <p>AUD/NZD</p>
              <div id="marketThree_chart_div" style="width: 900px; height: 500px;"></div>
              <br>
              <div class="container" style="text-align: center;">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
          </div>

        </div>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
  </html>
